# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Gyp
config.gypi
config.mk
*.mk
*.make
Makefile
gyp-mac-tool

# Python
*.pyc

